
.head h1 {
    color: #A4A400;
    background-color: #F0F0F0;
    text-align: center;
    text-decoration: underline;
    font-size: 22pt;
    font-weight: bold;
    font-family: Lucida Sans Unicode, Helvetica, Arial, Serif;
}

body h2 {
    color: #A4A400;
    background-color: #F0F0F0;
    text-decoration: underline;
    font-size: 18pt;
    font-weight: bold;
    font-family: Lucida Sans Unicode, Helvetica, Arial, Serif;
}

body {
    color: #404040;
    font-size: 11pt;
    font-family:  Georgia, Garamond, serif;
}

body a {
    color: #A4A400;
}

.directions > ul {
    list-style-type: decimal;
}

abbr {
    text-decoration: underline;
}

.directions > ul > li > span {
    font-weight: bold;
}

.deleted {
    text-decoration: line-through;
}

.copyrights, .footer {
    float: right;
    overflow: auto;
    clear: both;
    font-family: monospace;
}

.user-comments p {
    font-family: Georgia, Garamond, serif;
    background-color: #FFFFA8;
    margin-left: 40px;
    margin-right: 40px;
    font-style: italic;
    text-indent: 0px;
}

.user-comments p span {
    font-weight: bold;
}

body {
    background-image: url("images/silverware.jpg");;
}