.main-container {
    width: 80%;
    margin: 0 auto;
}

.left-side-bar {
    width: 20%;
    float: left;
    background-color: rgba(111, 196, 166, 0.05);
    height: 500px;
}
.left-side-bar select {
    margin-left: 10%;
    margin-right: 10%;
}

.main-content {
    width: 75%;
    float: left;
    background-color: rgba(111, 196, 166, 0.05);
    margin-left: 15px;
    height: 500px;
}

.main-container p {
    color: #000000;
    font: 18px Arial, sans-serif;
}

.footer {
    height: 50px;
    background-color: rgba(111, 196, 166, 0.05);
    float: right;
    margin-top: 15px;
    width: 100%;
    /*top, right, bottom, and left*/
    /*margin: 15px;*/
}

.footer img {
    margin: 10px;
}

.student, .verify {
    margin-left: 11px;
    margin-top: 15px;
}